# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
lib-cov
*.lcov

# Production
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example
.envrc

# TypeScript
*.tsbuildinfo

# Cache
.npm
.eslintcache
.stylelintcache
.prettiercache

# Misc
.DS_Store
*.pem
.vercel
.next
out
build
.vscode

# Wallet data
wallets/*
